
@rendermode InteractiveAuto
@code{

int count { get; set; } = 0;

}

Count is @count
<br>
<input type="number" @bind="count" @bind:event="oninput" />
<br>
<button @onclick="() => count = 0">Reset</button>
