@page "/"
@rendermode InteractiveAuto

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<br><br>


@code{

    int count { get; set; } = 0;

}

Count is @count
<br>
<input type="number" @bind="count" @bind:event="oninput" />