nav{
    color: white;
    padding: 0;
    margin: 0;
    display: block;
    padding:0.3rem;
    .nav-link, .nav-link:hover, .nav-link:visited{
        color: black;
        padding: 0.3rem;
        display: inline-block;

        
        
        &[aria-current="page"]{
            color: white;
            background: #0a58ca;
            border-radius: 25px;
        }
    }
}

